@keyframes slide-in {
  from {
    transform: translateZ(0);
    transform: translateY(125%) rotate(5deg);
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes marquee-right {
  0% {
  transform: translateZ(0);
  transform: translateX(var(--move-final));
  }
  100% {
  transform: translateZ(0);
  transform: translateX(var(--move-initial));
  }
}

@keyframes marquee-left {
  0% {
  transform: translateZ(0);
  transform: translateX(var(--move-initial));
  }
  100% {
  transform: translateZ(0);
  transform: translateX(var(--move-final));
  }
}

@keyframes slide-right {
  from {
    transform: translateZ(0);
    transform: translateX(0%);
  }
  to {
    transform: translateZ(0);
    transform: translateX(-100%);
  }
} 

@keyframes slide-right-again {
  from {
    transform: translateZ(0);
    transform: translate(0%);
  }
  to {
    transform: translateZ(0);
    transform: translate(100%);
  }
}

/* Menu transition */
.fade-enter-active,
.fade-leave-active {
  transition: .6s ease;
}

.fade-leave-active {
  transition: .3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Full page transitions */
.page-transition-enter-active {
  [data-splitting] .char,
  [data-splitting] .whitespace {
    animation: slide-in .8s ease both;
    animation-delay: calc(60ms * var(--word-index)); 
  }

  figure, .playlist__container {
    animation: slide-in 1.2s ease both;
  }

  .fade-on-page-leave, p {
    animation: fade-in .8s ease both;
  }

  .navbar-background {
    animation: slide-right-again 1.2s ease both;
  }
}

.page-transition-leave-active {
  [data-splitting] .char,
  [data-splitting] .whitespace {
    animation: slide-in .4s ease reverse forwards;
  }

  figure, .playlist__container, .contact__form {
    animation: slide-in .4s ease reverse forwards;
  }

  .fade-on-page-leave, p {
    animation: fade-in .4s ease reverse forwards;
  }

  .navbar-background {
    animation: slide-right 1.2s ease reverse forwards;
  }
}