@import "buttons";
@import "cursor";
@import "marquees";
@import "menu";
@import "navbar";
@import "playlist";
@import "testimonial";





/* .circle-anim {
  position: relative;

  span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border: 1px solid;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    transition: .3s;
  }

  &:hover {
    span {
      &:nth-child(2) {
        top: -2rem;
        left: -2rem;
      }
  
      &:nth-child(3) {
        top: 2rem;
        left: 2rem;
      }
    }
  }
} */