.contact__form {
  max-width: 60ch;

  button {
    float: right;
    @include drop-highlight;

    &:hover {
      background-color: transparent;
    }
  }
}

.form-row {
  position: relative;
  margin-top: 2rem;

  label {
    position: absolute;
    top: 0;
    left: 0;
    transition: .2s ease-out;
    cursor: text;
  }

  &::after {
    content: '';
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width ease-out .3s;
  }

  input[type=text],
  input[type=email],
  textarea {
    position: relative;
    height: 3rem;
    transition: .3s;
    overflow-y: hidden;

    &:focus ~ label,
    &:valid ~ label {
      top: -1.5rem;
      font-size: 1.5rem;
    }
  }

  textarea {
    height: 3rem;
    min-height: 3rem;

    &:focus {
      overflow-y: auto;
    }
  }

  textarea:focus,
  textarea:valid {
    min-height: 7rem;
  }
}