/* Marquees */

.marquee {
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));

  position: relative;
  overflow: hidden;
  border-top: 1px solid $color-accent-100;
  border-bottom: 1px solid $color-accent-100;
  background-color: $color-gray-900;
  color: $color-accent-100;

  transition: background-color .3s;

  .marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translateX(var(--move-initial));
    animation-play-state: running;
    padding: 1rem 0;
    margin: 1rem 0;

  }

  .marquee__inner.left {
    animation: marquee-left $marquee-left-time linear infinite;
  }
  .marquee__inner.right {
    animation: marquee-right $marquee-right-time linear infinite;
  }

  .marquee__inner-container {
    white-space: nowrap;

    .marquee__item {
      margin-left: 2rem;
    }
  }

  &:hover .marquee__inner {
    animation-play-state: paused;
  }
}

.marquee__inner-container {
  font-size: 1.4rem;

  @media only screen and (min-width: $breakpoint-sm) {
    font-size: 2vw;
  }
}

.marquee__item {
  font-style: italic;
  font-weight: 100;
}