.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  inset: 0 0 auto 0;
  padding: 1rem;
  z-index: 100;
  background-color: $color-accent-100;

  .navbar__left,
  .navbar__right {
    display: flex;
    align-items: center;

    * + * {
      margin-left: .5rem;
    }
  }

  @media only screen and (max-width: $breakpoint-sm) {
    
    .navbar__right {
      flex-direction: column;
      flex: 1;
    }

    .navbar__left {
      align-items: flex-start;
    }

    .navbar__right {
      align-items: flex-end;
    }
  }
}

.navbar-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: .5rem;
  background-color: $color-bright-400;
  z-index: 100;
  transform: translateX(-100%);
}