.playlist {
  overflow: hidden;

  .playlist__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .playlist__item-sub {
    text-align: left;
    margin: .7rem 0 2rem 0rem;
  }

  .playlist__item-button {
    margin-left: 1rem; 
  }

  .playlist__now-playing {
    margin-bottom: 2rem;
    font-size: 1.4rem;
  }

  .playlist__item {
    position: relative;
    &:after {
      content: "";
      background-color: yellow;
      height: 100%;
      width: 100%;
      position: absolute;
      transform: translateX(-100%);
      top: 0;
      transition: .5s;
      z-index: -1;
    }

    &:hover {
      cursor: pointer;
      &:after {
        transform: translateX(0);
        /* animation: bouncy-bar 4s ease infinite; */
      }

      .playlist__item-button {
        background-color: $color-gray-900;
        color: $color-accent-100;
      }
    }
  }

  @media only screen and (min-width: $breakpoint-sm) {
    .playlist__item {
      max-width: max-content;
    }

    .playlist__item-sub {
      margin: .7rem 0 2rem 3rem;
    }
  }
}