.testimonial {
  background-color: $color-gray-100;
  color: $color-gray-900;
  padding: 5rem 0;

  p {
    font-family: $font-serif;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
  }

  p.sub {
    font-size: 1rem;
    line-height: 1rem;
    font-family: $font-sans-serif;
  }

  @media only screen and (min-width: $breakpoint-sm) {
    padding: 10rem 0;

    p {
      font-size: 4rem;
      line-height: 6rem;
    }

    p.sub {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  } 
}